{{/* subject: Dotaz */}}

Dobrý den,

jen rychlý dotaz. Sháním použitou stavební, manipulační i nákladní techniku k vývozu do zahraničí a chtěl jsem se zeptat, zda Vám na dvoře nestojí něco (automobil, dodávka, kamion, bagr, nakladač, traktor, jeřáb, vysokozdvižný vozík apod.), čeho byste se rád zbavil, nebo neplánujete obměnu vozového parku? Klidně toho může být i víc.

Vykupuju techniku už přes 20 let. V zahraničí mám odběratele, kteří berou prakticky vše, často i stroje, kterých byste se tady zbavoval obtížně. Stačí mi pár slov, jestli něco takového máte. Případně rovnou pošlete fotku a kopii technického průkazu na tento e-mail nebo mi zavolejte na 776 299 933. Papíry i odvoz zařídím sám.

Děkuji za přečtení. Pokud Vás téma neoslovilo, nic se neděje, přeji hezký den.

--

S pozdravem,
Jakub - Garaaage

P.S. Pokud Vás napadne někdo z okolí, kdo by mohl mít zájem prodat, klidně mi předejte kontakt.

---
Tento e-mail byl odeslán v rámci oprávněného zájmu na výkupu použité techniky společnosti Garaaage s.r.o., IČO 23219700, sídlem Purkyňova 74/2, 110 00 Praha 1 (čl. 6(1)(f) GDPR ve spojení s Recital 47), a je obchodním sdělením dle zákona č. 480/2004 Sb. Kontakt jsem získal z veřejně dostupného katalogu firem. Pokud si přejete podrobnosti o zpracování Vašich údajů, stačí odepsat na tento e-mail. Stejně tak pokud si nepřejete, abych Vás dále kontaktoval, napište mi nebo klikněte: {{.UnsubURL}}
